/***************************************************
Add your Google Fonts
Update ALL the named colours to create a monochromatic scheme
Style the menus - one horizontally and one vertically
Add the hover/active effects to your menu items
***************************************************/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
    line-height: 1.6;
    /* ADD the Google sans-serif font to this font stack */
    font-family: helvetica, 'Roboto', arial, sans-serif;

}
html, body{
    background-color: #7F2626;
}
h1{
    font-size: 6.854rem;
    /* ADD the Google serif font to this font stack */
    font-family: 'Palatino Linotype', 'Book Antiqua', 'Merriweather' Palatino, serif;
    padding: 1rem 2rem;
}
h2{
    font-size: 4.23rem;
    /* ADD the Google serif font to this font stack */
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    padding: 1rem 2rem;
}
nav li{
    font-size: 2.618rem;
}
p{
    font-size: 1.618rem;
    padding: 1rem 2rem;
}
.wrapper{
    max-width: 1400px;
    width: 80%;
    margin: 0 auto;
    background-color: #FF4C4C;
    color: #CC0000;
}
header{
    border-bottom: 0.8rem solid #FF4C4C;
    background-color: #7F2626;
    color: #CC0000;
}
.menu-h{
    width: 100%;

}
    .menu-h li{
      list-style-type: none;
      display: inline;
    }

        /* style the list items to remove the bullets
        and line up horizontally
        and take up 20% of the width of the ul */
        .menu-h a,
        .menu-h a:link,
        .menu-h a:visited{
            /* style the anchors to fill the entire width of the li
            make sure there is padding around your text */
            width: 100%;
            padding: 5px;
            text-decoration: none;
            color: #CC0000
            text-align: center;
        }
        .menu-h a:hover,
        .menu-h a:active{
          color: #7F2626;
        }
.menu-v{
    width: 20%;
    float:left;
}
    .menu-v li{
      list-style-type: none;


        /* style the list items to remove the bullets
        and line up vertically
        and take up 100% of the width of the ul */
    }
        .menu-v a,
        .menu-v a:link,
        .menu-v a:visited{
          width: 100%;
          text-decoration: none;
          color: #000000
            /* style the anchors to fill the entire width of the li */
        }
        .menu-v a:hover,
        .menu-v a:active{
          color: #CC0000;
          background-color: #7F2626;
        }
main{
    width:80%;
    float: right;
}
footer{
    clear:both;
}
